{% extends 'dj_cookbook/base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
	<h1>Welcome to the Cookbook!</h1>
	<li><a href="{% url 'cookbook:meal-list' %}">See meals</a></li>
	<li><a href="{% url 'cookbook:meal-create' %}">Create meals</a></li>
	<li><a href="{% url 'cookbook:ingredient-list' %}">See ingredients</a></li>
	<li><a href="{% url 'cookbook:ingredient-create' %}">Add ingredients</a></li>
      </div>
    </div>
  </div>
{% endblock %}
